<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="GoogleEngine.URI" value="https://www.googleapis.com/customsearch/v1"/>
    <add key="GoogleEngine.Key" value="AIzaSyCnuGBH5hETRLcfQNFm6pJrJC4gt8ylFGM"/>
    <add key="GoogleEngine.Cx" value="014418431218274086813:xpjmelskx28"/>
    <add key="BingEngine.URI" value="https://api.cognitive.microsoft.com/bing/v7.0/search"/>
    <add key="BingEngine.SubscriptionKey" value="8f0ceb680a8945b98648b51ca757e641"/>  
  </appSettings>
</configuration>