<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="GoogleEngine.URI" value="https://www.googleapis.com/customsearch/v1"/>
    <add key="GoogleEngine.Key" value="Set your GoogleEngineKey"/>
    <add key="GoogleEngine.Cx" value="Set your customSearch Key"/>
    <add key="BingEngine.URI" value="https://api.cognitive.microsoft.com/bing/v7.0/search"/>
    <add key="BingEngine.SubscriptionKey" value="Set your Azure Subscription Key"/>  
  </appSettings>
</configuration>